<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
</head>
<body>
	<h1>This is admin home!</h1>
	<a href="/admin/addEmployee">Add Employee</a><br>
	<a href="/admin/viewEmployee">View Employee</a>
	Search: <input type="text" name="name">
	<a href="/admin/searchEmployee">Search Employee</a><br>


</body>
</html>