<!DOCTYPE html>
<html>
<head>
	<title>Employee Login</title>
</head>
<body>
	<h1>This is employee login</h1>

	<form method="POST">
		Usename: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		<input type="submit" name="submit" value="Login0">
	</form>

</body>
</html>