<!DOCTYPE html>
<html>
<head>
	<title>Create User</title>
</head>
<body>
	<h1>Create a user</h1>
	<form method="POST">
		Name: <input type="text" name="name"> <br>
		Username: <input type="text" name="username"><br>
		Gander: <input type="radio" name="gander" value="male">Male | 
				<input type="radio" name="gander" value="female">Female <br>
		Type: 
		<select id="type" name="type">
		  <option name="admin" value="admin">Admin</option>
		  <option name="teacher" value="teacher">Teacher</option>
		  <option name="student" value="student">Student</option>
		  <option name="admin" value="Almuni">almuni</option>
		</select><br>
		Responsibility:
		<input type="checkbox" name="res" value="lacturar"> Lacturar | 
		<input type="checkbox" name="res" value="developer"> Developer<br>
		Password: <input type="password" name="password"><br>
		Confirm Password: <input type="password" name="cpassword">
		<input type="submit" name="submit" value="submit">

		
	</form>

</body>
</html>